html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #555555;
    height: 100%;
    font-family: 'Montserrat' !important;
    font-weight: 200;
}

#root {
    height: 100%;
}


